body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    gap: 10px;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
   /* grid-auto-rows: 50px 100px; */
}
.item{
    color: burlywood;
    background: blanchedalmond;
    padding: 10px;
    border: 1px solid red;
}
.item .item{
    background: cadetblue;
}
.item:nth-of-type(5){
    align-self: start;
    justify-self: start;
}
