body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /* grid-template: filas / columnas; */
    /* grid-template: 300px 100px 100px / 1fr 1fr 1fr; */
    /* grid-template: 300px 100px 100px / repeat(4, 1fr); */
    /* grid-template: 300px 100px 100px / repeat(4, minmax(200px, 1fr)); */
    /* grid-template: 100px 1fr 100px / 300px 1fr; */
    column-gap: 10px;
    row-gap: 10px;
    /* gap: filas / columnas; */
    gap: 10px;
    height: 100vh;
   
}
.item{
    color: burlywood;
    background: blanchedalmond;
    padding: 10px;
    border: 1px solid red;
}
.item:nth-of-type(1){
    background: salmon;
    /* Donde comienza la linea */
    grid-column-start: 1;
    grid-column-end: 3;
}
.item:nth-of-type(8){
    background: salmon;
    /* Donde comienza la linea */
    grid-column: 1 / -1;
}
.item:nth-of-type(7){
    background: salmon;
    /* Donde comienza la linea */
    grid-column: 2 / 4;
}
.item .item{
    background: cadetblue;
}
