body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 25% 200px 25%;
    grid-template-rows: 200px 200px;
    /* grid-template: filas / columnas; */
    /* grid-template: 300px 100px 100px / 1fr 1fr 1fr; */
    /* grid-template: 300px 100px 100px / repeat(4, 1fr); */
    /* grid-template: 300px 100px 100px / repeat(4, minmax(200px, 1fr)); */
    grid-template: 300px 100px 100px / minmax(200px, 1fr) 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    /* gap: filas / columnas; */
    gap: 10px 50px;
}

.item{
    color: burlywood;
    background: blanchedalmond;
    padding: 10px;
    border: 1px solid red;
}
.item:nth-of-type(4){
    background: salmon;
    overflow: auto;
    /* display: inline-grid; */
    /* display: subgrid; CUANDO ESTE DISPONIBLE HEREDA LA CONFIG DEL PADRE*/
    display: grid;
    grid-template: 50px 50px 50px / 200px 200px 200px;
}
.item .item{
    background: cadetblue;
}